<div class="header">
    <ul>
        <a href="/"><img src="/static/images/logo_small.png"></a>
        <li><a href="/read/">Read</a></li>
        <li><a href="/watch/">Watch</a></li>
        <li><a href="/people/">People</a></li>
    </ul>
    <ul id="nav">
        <li>
            <a href="#"><img src="../../static/images/nav_drop.png"></a>
            <ul>
                <li><a href="/read/">Read</a></li>
                <li><a href="/watch/">Watch</a></li>
                <li><a href="/people/">People</a></li>
            </ul>
        </li>
    </ul>
</div>